<h1>Details for <%= @song.name %> </h1>

<h2>Artist for <%= @song.name %></h2>
<h2>Artist: <a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a> </h2>


<h2>Genres for <%= @song.name %></h2>
<% @song.genres.each do |genre|  %>
<p>
  <a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
</p>
<% end %>
